@model Cstieg.Sales.Models.Order

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>
}

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateOrdered)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOrdered)
        </dd>

        @Html.Partial("_AddressDetailPartial", Model.ShipToAddress)

        <dt>
            @Html.DisplayNameFor(model => model.Subtotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subtotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shipping)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Shipping)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

    </dl>
    <hr />
    <h3>Items</h3>
    @Html.Partial("_OrderDetailPartial", Model.OrderDetails)





</div>
